.navbarli {
	list-style-type: none;
}

.navbar a {
	color: white;
	text-decoration: none;
}
.first_row {
	margin-top: 60px;
}
.navbar a:hover {
	transition: 0.3s;
	color: gray;
	text-decoration: none;
}
.navbar {
	margin-left: -10px;
}
.brand {
	font-size: 20px;
}
.a_nav_tab {
	margin-left: 10px;
}

#versions, #submenu {
	display: none;
}
.under2_menu {
	display: none;
	font-size: 12px;
}
#nav_saves {
	border-bottom: 1px solid #FFFFFF;
	padding-top: 10px;
	padding-bottom: 0.3125rem
}
.under_menu {
	font-size: 14.5px;
}

