.navbarli {
	list-style-type: none;
}
.navbar a{
	color: white;
	text-decoration: none;
}
.navbar a:hover{
	transition: 0.3s;
	color: #AEAEAE;
	text-decoration: none;
}
.navbar {
	margin-left: -10px;
}
.brand{
	font-size: 20px;
}
.a_nav_tab{
	margin-left: 10px;
}
#submenu{
	display: none;
	margin-top: 8px;
}
.under2_menu{
	display: none;
}
.under_menu{
	font-size: 14.5px;
}
.under2_menu{
	font-size: 12px;
}
#first-row{
    overflow: auto;
	margin-top: 200px;
	margin-left: 20%;
	margin-right: 20%;
}
#regestration{
	font-size: 20px;
}
#password{
	margin-bottom: 10px;
}
#sign_block{
	border: 1px solid #818181;
	width: auto;
	text-align: center;
	padding: 5%;
}
#login{
	margin-top: 0.5%;
	margin-left: auto;
	margin-bottom: auto;
	height: auto;
}
