.navbarli {
	list-style-type: none;
}
.navbar a{
	color: white;
	text-decoration: none;
}
.navbar a:hover{
	transition: 0.3s;
	color: #AEAEAE;
	text-decoration: none;
}
.navbar {
	margin-left: -10px;
}
.brand{
	font-size: 20px;
}
.a_nav_tab{
	margin-left: 10px;
}
#submenu{
	display: none;
	margin-top: 8px;
	margin-left: -20%;
}
.under2_menu{
	display: none;
}
.under_menu{
	font-size: 14.5px;
}
.under2_menu{
	font-size: 12px;
}
#first-row{
    overflow: auto;
	margin-top: 150px;
	margin-left: 5%;
	margin-right: 5%;
}
#enter{
	font-size: 20px;
}
#sign_block{
	border: 1px solid #818181;
	border-radius: 10%;
	width: 100%;
	text-align: center;
	padding: 7%;
}
#reg{
color: #706F6F;
font-size: 18px;
margin-left: 5px;
}


