h1 {
	margin-left: 100px;
}
hr {
	color: black;
	background-color: #21004D;
	width: 90%;
	height: 3px;
}
.first_row {
	margin-top: 60px;
}
.card {
	width: 18rem;
	margin-top: 30px;
	margin-bottom: 10px;
	margin-left: 10px;
}
.card-img-top {
	border: 2px solid #0000FF;
}
.navbarli {
	list-style-type: none;
}
.navbar a {
	color: white;
	text-decoration: none;
}
.first_row {
	margin-top: 60px;
}
.navbar a:hover {
	transition: 0.3s;
	color: gray;
	text-decoration: none;
}
.navbar {
	margin-left: -10px;
}
.brand {
	font-size: 20px;
}
.a_nav_tab {
	margin-left: 10px;
}

#versions, #submenu {
	display: none;
}
.under2_menu {
	display: none;
	font-size: 12px;
}

.active_nav {
	border-bottom: 1px solid #FFFFFF;
	padding-top: 10px;
	padding-bottom: 0.3125rem
}
.under_menu {
	font-size: 14.5px;
}
